ul#legend {
  width: 100%;
  height: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
ul#legend li#title {
  font-weight: bold;
  font-size: 17px;
}
ul#legend li {
  margin-bottom: 7px;
  width: 50%;
  float: left;
}
ul#legend li span, .gf-legend-icon {
  height: 21px;
  width: 21px;
  border: 1px solid #2e2e2e;
  display: block;
  margin-right: 2px;
  float: left;
  text-align: center;
  line-height: 19px;
  padding: 0;
  font-size: 11px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  transition: border 0.35s ease-in-out;
}
@media (max-width: 599.95px) {
  ul#legend li span, .gf-legend-icon {
    height: 18px;
    width: 18px;
    line-height: 15px;
    font-size: 10px;
  }
}
ul#legend li span.gf-thrive-completed, .gf-legend-icon.gf-thrive-completed {
  color: #fff;
  border: 1px solid #84b554;
  background: #84b554;
}
ul#legend li span.selected {
  background: #84b554;
  border: 1px solid #84b554;
  color: #fff;
}
.react-calendar__month-view__days__day {
  transition: color 0.35s ease-in-out;
}
.react-calendar__month-view__days__day.gf-fix-date abbr {
  position: absolute;
  top: 4px;
  right: 12px;
}
@media (max-width: 599.95px) {
  .react-calendar__month-view__days__day.gf-fix-date abbr {
    right: 4px;
    font-size: 14px;
  }
}
.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend {
  color: rgba(0, 0, 0, 0.847);
}
.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend.react-calendar__tile--active {
  color: white;
}
.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__month-view__days__day.react-calendar__tile--active .gf-legend-icon {
  border-color: white;
}
.react-calendar__month-view__days__day.react-calendar__tile--active .gf-thrive-completed {
  color: #fff;
  border: 1px solid #84b554;
  background: #84b554;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-family: "Oswald", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-family: "Oswald", "Open Sans", sans-serif;
  font-size: 20px;
}
.react-calendar__month-view__weekdays {
  background-color: #FF9435;
  color: white;
  border-radius: 4px 4px 0 0;
}
.react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday:not(:last-child) {
  border-right: 2px solid #dddddd;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: 1CC700;
}

.has-history{
  background: #91EEFF;
}


.react-calendar__tile--active {
  background: #1E88E5;
}

.react-calendar__tile--active path {
  fill: white;
}

.react-calendar__tile:enabled:hover path, .react-calendar__tile:enabled:focus path {
  fill: white;
}


.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
  background: #1E88E5;
}
